.projeto-view {
  display: flex;
  margin: 0 5.625rem;
}

.view-container {
  margin: 3rem 0 0 4.625rem;
}

.view-title {
  display: flex;
  align-items: start;
  justify-content: start;
  font-weight: bold;
}

.view-rounded-btn {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 4px 8px 0 0;
}

.view-rounded-btn:hover {
  color: #008abd;
  transition: color 0.2s;
}

.view-description {
  max-width: 51.25rem;
}
.view-description img {
  width: 100%;
  margin: 40px 0;
}

@media (max-width: 1270px) {
  .projeto-view {
    display: flex;
    flex-direction: column;
    margin: 0 2.813rem;
  }

  .view-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
